@import "@playon/web-framework/theme/component/button/contained/translucent";
@import "@playon/web-framework/theme/component/button/contained/transparent";
@import "@playon/web-framework/theme/component/button/contained/white";
@import "@playon/web-framework/theme/component/button/icon/dark";
@import "@playon/web-framework/theme/component/button/icon/muted";
@import "@playon/web-framework/theme/component/button/icon/white";
@import "@playon/web-framework/theme/component/button/outlined/light";
@import "@playon/web-framework/theme/component/button/outlined/white";
@import "@playon/web-framework/theme/component/button/text/dark";
@import "@playon/web-framework/theme/component/button/text/muted";
@import "@playon/web-framework/theme/component/button/text/white";

@import "@playon/web-framework/theme/component/scroll-view/dark";

$font-family: 'Titillium Web', sans-serif;
$font-family--heading: 'f1-display', sans-serif;
$font-family--web-heading: $font-family--heading;
$font-weight-medium: 600;
