$web-framework-id: "f1";
$web-framework-name: "formula-1";

$app-colors: (
  accent: #E10600,
  accent-light: #F9CCCB,
  primary: #E10600,
  secondary: #15151E,

  error: #E10600,
  success: #00CA45,

  app-bar-background: #E10600,
  app-bar-foreground: #fff,
  
  footer-background: #15151e
);

$app-gradients: (
  modal-aside: linear-gradient(332deg, rgba(#15151E, 0.92) 0%, rgba(#E10600, 0.92) 100%),
);

$web-gradients: (
  header: linear-gradient(45deg, rgba(21,21,30,1) 0%, rgba(91,91,97,1) 100%),
  panel: linear-gradient(45deg, rgba(21,21,30,1) 0%, rgba(91,91,97,1) 100%),
  panel-inversed: linear-gradient(45deg, rgba(225,6,0,1) 0%, rgba(44,44,52,1) 100%),
  dynamic-pricing-panel: linear-gradient(25deg, #15151e 0%, #5b5b61 80%),
  bg: linear-gradient(25deg, rgba(21,21,30,1) 0%, rgba(61,61,70,1) 15%, rgba(40,40,49,1) 30%, rgba(54,54,60,1) 50%, rgba(40,40,49,1) 70%, rgba(61,61,70,1) 85%, rgba(21,21,30,1) 100%),
);

$streaks-colors: (
  top-ten-in-a-row-qualifying: #FF8038,
  top-ten-in-a-row-race: #00A3E1,

  qualifying_streak_event_progress: #FF8038,
  race_streak_event_progress: #00A3E1,
);
