<ScrollViewAnimated @transitions={{this.scrollTransitions}}>
  <div class="web web__team-marketing web__stick-top">
    <BoldHeading @tag="h1" @title={{t "web.team-marketing.title"}} @modifier="web main" />
  </div>

  <div class="web web__page web__page--team-marketing">
    <p class="web__default-text web__gray-text">
      {{t "web.team-marketing.notice"}}
    </p>

    <p class="web__default-text">
      <strong>McLaren Racing Limited</strong>
    </p>

    <a class="web__link"
       target="mclaren"
       href="https://www.mclaren.com/group/privacy/">
      https://www.mclaren.com/group/privacy/
    </a>

    <p class="web__default-text">
    	If you would like to unsubscribe from McLaren+ follow the link and enter your email to update your marketing permissions. <a class="web__link" target="mclaren" href="https://www.mclaren.com/racing/mclaren+/">https://www.mclaren.com/racing/mclaren+/</a>
    </p>

    <p class="web__default-text">Alternatively you can contact us on: privacy@mclaren.com</p>

    <p class="web__default-text">or by post to:</p>

    <p>Data Protection Officer</p>
    <p>McLaren Services Limited</p>
    <p>McLaren Technology Centre</p>
    <p>Chertsey Road</p>
    <p>Woking</p>
    <p>Surrey</p>
    <p>GU21 4YH</p>
    <p>England</p>

    <p class="web__default-text">
      <strong>Scuderia AlphaTauri S.p.A con socio unico</strong>
    </p>

    <p class="web__default-text">
      If you would like to unsubscribe receiving direct marketing communications from AlphaTauri please email us at  privacy@redbull.com
    </p>

    <p class="web__default-text">Further information can be found at <a class="web__link" target="AlphaTauri" href="https://policies.redbull.com/policies/Scuderia_AlphaTauri/202002180316/en/privacy.html">https://policies.redbull.com/policies/Scuderia_AlphaTauri/202002180316/en/privacy.html</a>
    </p>

    <p class="web__default-text">
      <strong>Williams Grand Prix Engineering Limited</strong>
    </p>

    <a class="web__link"
       target="williams"
       href="https://www.williamsf1.com/policies/privacy-policy ">
    	https://www.williamsf1.com/policies/privacy-policy
    </a>

    <p class="web__default-text">
      If you would like to unsubscribe from Williams communications please click <a class="web__link" target="williamsf1" href="https://www.williamsf1.com/Manage/Marketing">here</a>.
    </p>

    <p class="web__default-text">
      <strong>Haas F1 Team</strong>
    </p>

    <p class="web__default-text">
      <a class="web__link"
         target="haas"
         href="https://www.haasf1team.com/privacy-policy">
         https://www.haasf1team.com/privacy-policy
      </a>
    </p>

    <p class="web__default-text">
      <strong>Red Bull Racing</strong>
    </p>

    <a class="web__link"
       target="red-bull"
       href="https://policies.redbull.com/custom/4500ef07-ff8c-4731-a82a-42accb90ae5b/Privacy%20Policy.pdf">
       https://policies.redbull.com/custom/4500ef07-ff8c-4731-a82a-42accb90ae5b/Privacy%20Policy.pdf
    </a>
  </div>

  <WebFooter />
</ScrollViewAnimated>